@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;  
  box-sizing: border-box;
  font-family:'Crow', sans-serif;
}

@font-face {
  font-family: 'Crow';
  src: url('/fonts/octoberCrow.ttf');
}